%footer#footer
  %div.footerRight
    %ul
      %a{:href => '#'}
        %li Home
      %a{:href => '#'}
        %li Team
      %a{:href => '#'}
        %li Our Story
      %a{:href => '#'}
        %li Blog
      %a{:href => '#'}
        %li Help
  %div.footerLeft
    %p 2013 ©  Despreneur. All rights reserved. Crafted in London.
