%header#header
  %div.headerLeft
    %img{src: '/assets/img/headerLogo.png'}
  %div.headerRight
    %ul.headerNav
      %li
        %a{:href => '#'} Home
      %li
        %a{:href => '#'} Team
      %li
        %a{:href => '#'} Our Story
      %li
        %a{:href => '#'} Blog
      %li
        %a{:href => '#'} Help
  %div.headerMain
    %h1 Best Ideas Starr On Paper
    %p Revolutionary notebook with eco-friendly paper, advanced surface
    technology and digital sharing integration.

  %div.headerButton
    %h2
      %a{:href => '#'} Order Now
